.header {
  background-color: white;
}
.headerImg {
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
}
